# Backend environment variables for local development
CONNECT_DB=mongodb://localhost:27017/phongtro123
CLIENT_URL=http://localhost:3001
PORT=3000
GOOGLE_API_KEY=
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
REFRESH_TOKEN=
# Add any additional environment variables required by the server
